{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" >
    <title>Landing on Django</title>
</head>
<body>
    <header class="headerMainPage">
        <div>
            <div class="logoh5">Simple <span class="logoTextDecoration">Design</span></div>
            <div class="logoh6">дизайн интерьера</div>
        </div>
        <nav class="navHeader">
            <a href="/">Главная</a>
            <a href="/">Тест</a>
            <a href="/">Каталог</a>
            <a href="/">О нас</a>
            <a href="/">Цены</a>
        </nav>
        <div class="block3Header">
            <div>
                <img src="{% static 'img/iconPhone.svg'%}" alt="phone">
            </div>
            <div>
                <div class="phoneNumber">+7 700 505 3000</div>
                <div class="dateWord">с 9:00 до 18:00</div>
            </div>
        </div>
    </header>
    <main>
        <div class="pageMain">
            <div class="scaleCardMainPage">
                <div class="cardMainPage">
                    <div>
                        <div class="order">Мой заказ</div>
                        <div class="orderText">3 х 9 000р</div>
                    </div>
                    <div class="basket">
                        <img src="{% static 'img/basketMainPage.svg'%}" alt="basketMainPage">
                    </div>
                </div>
            </div>
                <h1>Дизайн-проект для вашей квартиры<br/> за 2 недели и 30000 ₽</h1>
                <div class="scaleButton">
                    <button class="buttonMainPage">Консультация</button>
                </div>
                <div class="pointMainPage">
                    <div class="ellipse"></div>
                    <div class="rectangle"></div>
                    <div class="ellipse"></div>
                </div>
                <div class="scaleInfoBlock">
                    <div class="infoBlockMainPage">
                        <div class="cartMainPage">
                            <div>
                                <img src="{% static 'img/timeIconMainPage.svg'%}" alt="time" class="iconCartMainPage">
                            </div>
                            <div>
                                <div class="mainTextCard">2 недели</div>
                                <div class="subTextCard">срок выполнения заказа</div>
                            </div>
                        </div>
                        <div class="cartMainPage">
                            <div>
                                <img src="{% static 'img/checkboxIconMainPage.svg'%}" alt="checkbox" class="iconCartMainPage">
                            </div>
                            <div>
                                <div class="mainTextCard">Не важно</div>
                                <div class="subTextCard">Сколько квадратов, цена - одна!</div>
                            </div>
                        </div>
                        <div class="cartMainPage">
                            <div>
                                <img src="{% static 'img/purseIconMainPage.svg'%}" alt="purse" class="iconCartMainPage">
                            </div>
                            <div>
                                <div class="mainTextCard">Рассрочка</div>
                                <div class="subTextCard">до 24 месяцев</div>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
        </div>
    </main>
    <div class="secondPage">
        <div class="block1SecondPage">
            <div class="mainTextSecondPage">Как это работает?</div>
            <div class="block1Item">
                <div class="numberTextSecondPage">01</div>
                <div>
                    <div class="titleSecondPage">Выбор состава проекта</div>
                    <div class="paragraphTextSecondPage">Выберите состав вашего<br> проекта: только планировка или<br> дизайн-проект</div>
                </div>
            </div>
            <div class="block1Item">
                <div class="number0203TextSecondPage">02</div>
                <div>
                    <div class="title0203SecondPage">Настройка проекта</div>
                    <div class="paragraph0203TextSecondPage">Отметьте в корзине нужен ли<br> вам профессиональный замер,<br> подбор строительной бригады<br> или точный просчет сметы</div>
                </div>
            </div>
            <div class="block1Item">
                <div class="number0203TextSecondPage">03</div>
                <div>
                    <div class="title0203SecondPage">Создание чертежей</div>
                    <div class="paragraph0203TextSecondPage">
                        Наши дизайнеры спроектируют<br> интерьер, подготовят чертежи.
                    </div>
                </div>
            </div>
        </div> 
        <div class="block2SecondPage">
            <div>
                <div class="scaleBlock2SecondPage">
                    <div class="positionImg1Block2SecondPage">
                        <img src="{% static 'img/img2Block2SecondPage.png'%}" alt="imgSecondPage">
                    </div>
                    <div class="positionImg2Block2SecondPage">
                        <img src="{% static 'img/img1Block2SecondPage.png'%}" alt="imgSecondPage">
                    </div>
                </div> 
            </div>
        </div> 
    </div>
    <div class="thirdPage">
        <div>
            <div>Наши услуги</div>
        </div>
        <div>
            <div>Планировка за 10 000 ₽</div>
        </div>
        <div>
            <div>Срок выполнения: 5 дней</div>
        </div>
        <div>
            <div>Мы разработаем для вас уникальное<br> планировочное решение квартиры, которое<br> будет соответствовать как нормам<br> эргономики, так и вашим личным<br> пожеланиям, а также подготовим чертеж для<br> согласования планировки. </div>
        </div>
        <div>
            <div>
                <hr>
            </div>
            <ul>
                <li>2 варианта планировки + финальный</li>
                <li>обмерный план</li>
                <li>план демонтажа стен</li>
                <li>план монтажа перегородок</li>
            </ul>
        </div>
    </div>
</body>
</html>